* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    height: 30em;
    background-color: #D7CCC8;
}

.titulo {
    text-transform: uppercase;
    margin-bottom: 1em;
}

.imageContainer {
    height: 30em;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    animation-name: projectsEffect;
    animation-duration: 2s;
}

.textContent {
    margin-bottom: 1em;
}

.imagem {
    height: 15em;
    width: 15em;
    margin:  0 auto;
    border-radius: 10px;
}

@keyframes projectsEffect {
  from {transform: translate(-150px);}
}

@media only screen and (min-width: 1024px) {
    .imageContainer {
        flex-direction: row-reverse;
    }

    .imagem {
        height: 25em;
        width: 25em;
    }

    .description {
        font-size: 18px;
    }

    .textContent {
        width: 50%;
    }
}




/*
.desktopVersion {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infosDesktop {
    display: flex;
    flex-direction: column;
}

.imageDesktopContainer {
    width: 50%;
    height: 30em;
    display: flex;
    padding: 2em;
}

.imagemDesktop {
    width: 25em;
    margin: 0 auto;
    border-radius: 10px;
}





*/