* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    
    background-color: #4E342E;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: projectsEffect;
    animation-duration: 2s;
    
}

.logo {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin-left: 1em;
}

.navPerso {
    background-color: #D7CCC8;
    width: 100%;
    z-index: 1;
    border-bottom: 3px solid white;
}

.ul {
    margin-left: 1em;
}

.li {
    margin: 0.5em;
    cursor: pointer;
}

@keyframes projectsEffect {
  from {transform: translate(-150px);}
}

@media only screen and (min-width: 2560px) {
    .container {
        width: 50%;
        margin: 0 auto;
    }
}