* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    height: 400vh;
    background-color: #4E342E;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



.logo {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin-left: 1em;
}

.navPerso {
    background-color: #D7CCC8;
    width: 100%;
    z-index: 1;
    border-bottom: 3px solid white;
}

.fotos {
    height: 15em;
    width: 15em;
}


